* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  background-color: #faf1e6;
  color: rgb(93, 63, 39);
}

header {
  background-color: rgb(250, 221, 197);
  color: rgb(145, 83, 33);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 60px;
}

header h1:hover {
  color: rgb(171, 107, 55);
}

.profile-info {
  text-align: left;
}

.profile-info p {
  text-align: left;
  margin-top: 10px;
}

nav {
  background-color: transparent;
  padding: 15px 10px;
}

nav a {
  color: rgb(145, 83, 33);
  text-decoration: none;
  font-weight: bold;
  margin: 0 10px;
  font-size: 18px;
}

nav a:hover {
  color: rgb(171, 107, 55);
  text-decoration: none;
}
main {
  width: 80%;
  max-width: 900px;
  margin: auto;
  padding: 20px;
}

section {
  background-color: #f9f4ed;
  margin-bottom: 20px;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  display: block;
  margin: 0 auto 15px auto;
  object-fit: cover;
  border: 3px solid rgb(145, 83, 33);
}

h2 {
  color: rgb(145, 83, 33);
  text-align: center;
}
h2:hover {
  color: rgb(171, 107, 55);
}

p {
  text-align: center;
  line-height: 1.6;
  font-size: 18px;
}
ul {
  list-style: none;
  padding: 0;
  text-align: center;
}

ul li {
  background-color: #f3e9e1;
  margin: 8px auto;
  padding: 8px;
  width: 60%;
  border-radius: 15px;
}
a {
  color: rgb(145, 83, 33);
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

.btn {
  display: block;
  width: fit-content;
  margin: 15px auto 0 auto;
  padding: 12px 22px;
  background-color: rgb(145, 83, 33);
  color: white;
  text-decoration: none;
  border-radius: 16px;
}

.btn:hover {
  background-color: rgb(137, 89, 50);
  text-decoration: none;
}
footer {
  background-color: rgb(250, 232, 218);
  color: rgb(93, 63, 39);
  text-align: center;
  padding: 20px;
  margin-top: 20px;
  border-top: 2px solid rgb(174, 140, 112);
}
@media (max-width: 600px) {
  header {
    flex-direction: column;
    padding: 20px 10px;
    gap: 15px;
  }

  header h1 {
    font-size: 26px;
  }

  .profile-info {
    text-align: center;
  }

  .profile-info p {
    text-align: center;
  }

  nav {
    width: 100%;
    padding: 10px;
  }

  nav a {
    display: block;
    margin: 10px 0;
  }

  main {
    width: 95%;
    padding: 10px;
  }

  section {
    padding: 15px;
  }

  img {
    width: 120px;
    height: 120px;
  }

  p {
    font-size: 16px;
  }

  ul li {
    width: 90%;
  }

  .btn {
    padding: 10px 15px;
  }
}
